*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

* {
    cursor: url('images/Bball_1left.cur'), pointer;
}

html {
    font-size: 10px; 
    height: 100vh; 
   }

body {
    box-sizing: border-box;
    
    }


body {
    background-color: #17408B;
    max-height: 100%;
    font-family: helvetica;
}

header {
    margin-top: 3em;
    height: 25vh;
    margin-bottom: 5em;
    display: flex;
    justify-content: center;
}

#wrapper {
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#nba-logo {
    height: 90%;
    display: flex;
    position: relative;
}

#instructions {
    width: 350px;
    height: 125px;
    background-color: #FFFFFF;
    border-radius: 7px;

   
}

#two-player {
    margin-top: 100px;
    width: 350px;
    height: 125px;
    background-color: #FFFFFF;
    border-radius: 7px;
    
}

#two-player:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

#instructions h1 {
    color: #C9082A;
    font-size: 30px;
}

#instructions:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

#two-player h1 {
    color: #C9082A;
    font-size: 30px;
    padding-top: 8px;
    padding-left: 8px;
}

#modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
    background-color: #17408bb8;
	justify-content: center;
	align-items: center;
	display: none;
	z-index: 1;
}

#modal-box {
	background-color: #c9082bdb;
	height: 300px;
	width: 600px;
	border-radius: 20px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
	margin: 15px; 
	padding: 8px;
}

#close {
    color: #17408B;
    font-size: 25px;
    margin-left: 500px;
}

#modal h1 {
    text-align: center;
    margin-top: 10px;
}

#modal-box p {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}


#modal-box h1 {
    font-size: 30px;
}

.choices {
    background-color: #FFFFFF;
    width: 800px;
    height: 100px;
    margin-top: 10px;
    border-radius: 10px;
    z-index: 1000;
}

#choice1 {
    margin-top: 75px;
}

#choice4 {
    margin-bottom: 40px;
}

.question {
    font-size: 25px;
    
}

#score {
    margin-top: 20px;
    margin-left: 48px;
    padding-right: 40px;
    font-size: 20px;
    color: #C9082A;
}